<!DOCTYPE html>

<html>
<head>
    <title>My page</title>

    <!-- link all need systems --->
    <link rel="stylesheet" href="css/styles.css">

    <!-- bootstrap --->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- font awesome --->
    <script src="https://kit.fontawesome.com/925f679068.js" crossorigin="anonymous"></script>

    <!-- React scripts --->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- JQuery Google CDN script --->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body style="background-color: #{{bodyColor}}">
<div admin="{{admin}}" color="{{navColor}}" id="root"></div>
<div class="profile-container">
    <div class="profile">
        <form action="/adminAccountCreate" method="post">
            <label for="name">Имя</label>
            <br>
            <input type="text" name="name" id="name">
            <br>

            <label for="surname">Фамилия</label>
            <br>
            <input type="text" name="surname" id="surname">
            <br>

            <label for="login">Логин</label>
            <br>
            <input type="text" name="login" id="login">
            <br>

            <label for="password">Пароль</label>
            <br>
            <input type="text" name="password" id="password">
            <br>

            <label for="imgSrc">Url аватара</label>
            <br>
            <input type="text" name="imgSrc" id="imgSrc">
            <br><br>

            <span>Права доступа:</span>
            <br>
            <br>
            <label for="isAdmin">Администратор</label>
            <input type="checkbox" name="isAdmin" id="isAdmin">
            <br>
            <label for="isTeacher">Учитель</label>
            <input type="checkbox" name="isTeacher" id="isTeacher">
            <br>

            <button class="btn btn-outline-success">Сохранить</button>
        </form>

    </div>
</div>

<!-- Navigation panel script--->
<script src="js/navigation.js"></script>

</body>
</html>